<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <title>Coursera SPA App</title>
</head>
<body ng-app='myFirstApp'>
    <div class="container">
        <div class="notification is-info">
            <h1 class="title has-text-centered">My first AngularJS App <i class="fa fa-wifi" aria-hidden="true"></i> </h1>
        </div>
        
        <div ng-controller='myFirstController' class="notification is-boxed">
            <h2 class="title is-center">{{greet()}} {{name}}</h2>
            
            <span class="label">Type something</span>
            <input type="text" ng-model='name' class="input">
            <hr class="has-background-black">
            <div>
                <h1 class="title">Name Calculator</h1>
                <div>
                    
                    <span class="label">Your name</span>
                    <input type="text" ng-model='username' ng-keyup="displayNumeric();" ng-blur='upper();' class="input">
                </div>
                <div>
                    Total Numeric value of the name is: {{totalValue}}
                </div>
            </div>
        </div>


        <footer>
          <div class="notification content has-text-centered is-dark" >
            <p class="">
              By <strong>Daouda Sanogo</strong>
              <i class="fa fa-copyright" aria-hidden="true"></i> All rights reserved.
            </p>
          </div>
        </footer>
    </div>

</body>
</html>